<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Вход в Spring Security Demo с помощью OAuth2">
    <meta name="author" content="Alexandr Shevtsov">
    <title>Congrats!!!</title>
</head>
<body>
<div class="container">
    <h1 th:text="|Congrats ${name}!!! You did it!|">Congrats!!! You did it!</h1>
    <h1 th:text="|Your email is ${email}|"></h1>
</div>
</body>
</html>
